
.idea/
.gradle/
gradle/
Test_app/build/
Test_app/libs/

Test_app/src/main/aidl/
Test_app/src/main/java/
Test_app/src/main/jniLibs/
Test_app/src/main/res/


Test_app/src/main/jni/vs2017_win64_project/.vs/
Test_app/src/main/jni/vs2017_win64_project/CodeGraphData/
Test_app/src/main/jni/vs2017_win64_project/Debug64/
Test_app/src/main/jni/vs2017_win64_project/Release64/
Test_app/src/main/jni/vs2017_win64_project/Final/

TDInputGen/TDInputGen/.vs/
TDInputGen/TDInputGen/TDInputGen/x64/
TDInputGen/TDInputGen/x64/
TDInputGen/jsoncons-master/

*.so
*.sdf
*.pdb
*.exe
*.dll
